<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshops</title>
    <link rel="stylesheet" href="https://css.hackclub.com/theme.css">
    <link rel="icon" type="image/svg" href="https://assets.hackclub.com/icon-rounded.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="static/project.css">
    
    <link rel="stylesheet" href="https://css.hackclub.com/fonts.css">
</head>
<body>
    <header>
    </header>
    <section id="projects">
        <h1>Our Workshops</h1>
        <p>At HackClub, we offer a variety of exciting workshops. Here are some of the workshops our members can participate in:</p>
        <div class="container">
            <h1>Start here</h1>
            <p>Set out on your journey by building your own website, then move on to multiplayer games and collaborative web apps.</p>
            <div class="grid-container">
                <div class="grid-item">
                    <h2>Personal Website</h2>
                    <p>Make your first website from scratch</p>
                </div>
                <div class="grid-item">
                    <h2>Splatter Paint</h2>
                    <p>Crazy colorful splatter paint in your browser with Paper.js</p>
                </div>
                <div class="grid-item">
                    <h2>Sound Galaxy</h2>
                    <p>Visualize sound by making particles move in a galaxy</p>
                </div>
                <div class="grid-item">
                    <h2>Jamming with Muse</h2>
                    <p>Compose music with code</p>
                </div>
                <div class="grid-item">
                    <h2>Particle Physics</h2>
                    <p>Creating a basic particle physics simulation and rendering using p5.js</p>
                </div>
                <div class="grid-item">
                    <h2>Teachable Machine</h2>
                    <p>Easily get started with machine learning—no coding required</p>
                </div>
                <div class="grid-item">
                    <h2>Synth</h2>
                    <p>Let's make a synth pad with Tone.js</p>
                </div>
                <div class="grid-item">
                    <h2>Draw Dino</h2>
                    <p>An "inter-active" primer to submitting pull requests on GitHub. Featuring art!</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
